*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color:#3e3148;
}
#head{
    padding-top: 20px;
    text-align: center;
    font: bold normal 50px Balker;
    letter-spacing: 8px;
    color: gold;
	background-color: black;
}
#score {
    height: 45px;
    width: 70px;
    margin: 19px auto;
    color: red;
    border-radius: 5px;
    text-align: center;
    font: bold normal 38px Verdana;
    background-color: silver;
    border: 1px solid black;
}
#container{
    border: 5px solid black;
    height: 300px;
    width: 300px;
    margin: 26px auto;
    background-color: yellow;
}

.actions-container {
	text-align: center;
}

a.start-game {
	display: inline-block;
	margin: 0 auto;
	padding: 6px 12px;
	border: 1px solid lightgrey;
	border-radius: 4px;
	background: transparent;
	color: lightgrey;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

a.start-game:hover {
	background: lightgrey;
	color: #3e3148;
}

.grid {
    height: 30px;
    width: 30px;
    float: left;
	background-color: yellow;
}

footer{    height: 24px;
    text-align: center;
    font: normal normal 20px Verdana;
    background-color: black;
    color: gold;
    margin-top: 108px;
}
